.form{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    gap: 20px;

    .input{
        display: flex;
        width: 100%;
        align-items: center;
        gap: 20px;
        box-sizing: border-box;
        padding: 20px;
        justify-content: start;
        
        div{
            display: flex;
            width: 150px;
        }
    }

    .input > label{
        flex: 0 0 10%;
        font-size: 20px;
        font-weight: 500;
    }

    input, textarea{
        font: inherit;
        font-size: 18px;
        width: 55%;
        padding: 10px;
        border: 1px solid gray;
        resize: none;
    }

    button{
        display: flex;
        padding: 15px;
        border: none;
        width: 150px;
        border-radius: 20px;
        font-size: 18px;
        justify-content: center;
    }

    textarea{
        width: 80%;
        height: 10vw;
        min-height: 30vh;
    }
}

.editor{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;

    p{
        margin: 0;
    }

    button{
        padding: 0;
        color: black;
        background-color: transparent;
    }
}